@import url('https://css.gg/css');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&family=Righteous&family=Roboto&display=swap');

:root{
    --black :                   #000000;
    --primary-color :           #01B493;
    --primary-color-lighter:    #05dab3;
    --primary-color-Darker:     #018a71;
    --secondary-gray:           #2f2f2f;
    --tertiary-gray:            #575757;
    --secondary-offwhite:       #f6efef;
}

/*
SECTION Global Page Details. Please make note of any changes
*/

body{
    margin: 0;
    background: linear-gradient(180deg, var(--primary-color) 0%, var(--black) 15rem);
    background-color: var(--black);
    background-repeat: no-repeat;
    font-family: 'Overpass Mono', monospace;
    color: var(--secondary-offwhite)
}

.App{
    border-bottom: 1px red solid;
    margin: auto;
    /* FIXME SUBJECT TO CHANGE FOR ADAPTIVE VIEW */
    width: 350px;
}

#logo{
    font-size: 24pt;
    color: var(--secondary-offwhite);
    font-family: 'Righteous', cursive;
}

h1{
    
}

p{
    color: var(--secondary-offwhite);
}

small{
    color: var(--primary-color);
    font-family: 'Righteous', cursive;
}

.icon {
    width: 100px;
    height: 100px;
}

button{
    font-family: 'Righteous', cursive;
    background-color:rgba(00, 00, 00, 00);
    color: inherit;
    border: none;
    padding:5px 10px 5px 10px;
    /* opacity:50%; */
}

/* button:hover{
    opacity: 1;
} */

a{
    color: var(--primary-color);
    text-decoration: none;
}

a:active{
    color: var(--secondary-offwhite);
    text-decoration: none;
}

img{
    width: 75%;
}
/* !SECTION */
/*
SECTION PAGES: HEADER
*/

#pageHeader{
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 1rem .5rem 1rem;
}

/* !SECTION */
/*
SECTION PAGES: FOOTER STICKY
*/
#FootStick{
    position: sticky;
    bottom:0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
}
/* !SECTION */
/*
SECTION PAGES: FOOTER CR
*/

/* !SECTION */
/*
SECTION PAGES: LANDING
*/

/* !SECTION */
/*
SECTION PAGES: HOME
*/

/* !SECTION */
/*
SECTION PAGES: USER PROFILE
*/