@import url('https://css.gg/css');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&family=Righteous&family=Roboto&display=swap');

:root{
    --black :                   #000000;
    --primary-color :           #01B493;
    --primary-color-lighter:    #05dab3;
    --primary-color-Darker:     #018a71;
    --secondary-gray:           #2f2f2f;
    --tertiary-gray:            #808080;
    --secondary-offwhite:       #f6efef;
}

/*
SECTION Desktop page details. Please make note of any changes
*/

body{
    margin: 0;
    background: linear-gradient(180deg, var(--primary-color) 0%, var(--black) 15rem);
    background-color: var(--black);
    background-repeat: no-repeat;
    font-family: 'Overpass Mono', monospace;
    color: var(--secondary-offwhite)
}

.App{
    /* border-bottom: 1px red solid; */
    margin: auto;
    /* FIXME SUBJECT TO CHANGE FOR ADAPTIVE VIEW */
    width: 350px;
    min-height: 100vh;
}

#logo{
    font-size: 24pt;
    color: var(--secondary-offwhite);
    font-family: 'Righteous', cursive;
}

h1{
    
}

p{
    color: var(--secondary-offwhite);
}

small{
    color: var(--primary-color);
    font-family: 'Righteous', cursive;
}

.icon {
    width: 100px;
    height: 100px;
}

button{
    font-family: 'Righteous', cursive;
    background-color:rgba(00, 00, 00, 00);
    color: inherit;
    border: none;
    padding:5px 10px 5px 10px;
    /* opacity:50%; */
}

/* button:hover{
    opacity: 1;
} */

a{
    color: var(--primary-color);
    text-decoration: none;
}

a:active{
    color: var(--secondary-offwhite);
    text-decoration: none;
}

img{
    width: 75%;
}

input{
    font-family: 'Overpass Mono', monospace;
}
/* !SECTION */
/*
SECTION Mobile page details. Please make note of any changes
*/

@media only screen and (max-width: 600px) {
    .App {
      width:100vw;
    }
  }
  

/* !SECTION */
/*
SECTION PAGES: HEADER
*/

#pageHeader{
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 1rem .5rem 1rem;
}

/* !SECTION */
/*
SECTION PAGES: FOOTER STICKY
*/
#FootStick{
    position: fixed;
    margin-top: auto;
    bottom:0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
}
/* !SECTION */
/*
SECTION PAGES: FOOTER CR
*/
#FootCR{
}

#FootCR > p {
    margin-bottom: auto;
    padding: 0.5rem;
    font-size: 10pt;
    color: var(--tertiary-gray);
}
/* !SECTION */
/*
SECTION PAGES: LANDING
*/

.landing{
    height:100vh;
    display: flex;
    flex-direction: column;
}
#login > *{
    /* border: aqua 1px solid; */
    background-color: var(--secondary-gray);
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#register > *{
    /* border: aqua 1px solid; */
    background-color: var(--secondary-gray);
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* !SECTION */
/*
SECTION PAGES: HOME
*/

/* !SECTION */
/*
SECTION PAGES: USER PROFILE
*/

/* !SECTION */
/*
SECTION PAGES: Create Review
*/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 6.2vh;
    height: 3vh;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-offwhite);
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 2vh;
    width: 2vh;
    left: 4px;
    bottom: 4px;
    background-color: var(--primary-color-Darker);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--primary-color-lighter);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--primary-color-lighter);
}

input:checked + .slider:before {
    -webkit-transform: translateX(3vh);
    -ms-transform: translateX(3vh);
    transform: translateX(3vh);
}

/* Rounded slider */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#image {
    display: block;
}

#reviewItem-link {
    display: none;
}
